//Portrait and landscape phones
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .header {
        position: relative;

        &__menu--on {
            & ~ section {
                display: none;
            }
        }
    }
    
    .navbar {
        display: grid;
        grid-template-areas: 
        "icon name"
        "icon job";
        align-items: center;
        background-color: #a29bfe; 
        border-bottom: .2rem solid $white;
        position: relative;
        padding: 1rem 0;
        
        a:link,
        a:visited {
            text-decoration: none;
            color: $white;
        }

        &__david-tenenbaum {
            grid-area: name;
            justify-self: right;
            font-size: 2.5rem;
            font-family: 'Lobster', cursive;
            margin-right: 1rem;
            text-shadow: 1px 3px rgba($black, 0.2);
        }

        &__software-engineer {
            grid-area: job;
            letter-spacing: .37rem;
            justify-self: right;
            font-size: 1.4rem;
            font-family: 'Quantico', sans-serif;
            margin-right: 1rem;
            text-shadow: 1px 3px rgba($black, 0.2);
        }

        &__menu {
            &--desktop {
                display: none;
            }

            &--icon {
                grid-area: icon;
                justify-self: left;
                color: $white;
                font-size: 3rem;
                padding-top: .5rem;
                margin-left: 1rem;
            }
            
            &--hidden-before {
                display: none;
            }
            
            &--hidden-after {
                position: fixed;
                visibility: hidden;
                width: 100vw;
                height: 100vh;
                background-color: $white;
                animation: removeMenu .5s ease-out;
                animation-fill-mode: forwards;
                overflow: hidden;
            }
            
            &--visible {
                position: absolute;
                visibility: visible;
                width: 100vw;
                background-color: $white;
                animation: displayMenu .5s ease-in;
                animation-fill-mode: forwards;
                overflow: hidden;
                color: #2d3436;
            }
            
            &--pages {
                @include menuLinksMobile;
                a {
                    border-bottom: .1rem solid $black;
                }
            }
            
            &--social-media {
                display: flex;
                flex-direction: row;
                @include menuLinksMobile;
                border-bottom: .1rem solid $black; 
                margin: auto 1rem;
            }
        }
    }
}

//Portrait and landscape iPad mini 2, iPad mini 3, iPad mini 4, iPad 3, iPad 4, iPad Air and iPad Air 2
//Portrait and landscape iPad Pro
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .header {
        position: relative;
    }
    
    .navbar {
        display: grid;
        grid-template-areas: 
        "name links"
        "job links";
        align-items: center;
        background-color: #a29bfe; 
        border-bottom: .2rem solid $white;
        position: relative;
        padding: 1rem 0;
        
        a:link,
        a:visited {
            text-decoration: none;
            color: $white;
        }

        &__david-tenenbaum {
            grid-area: name;
            justify-self: left;
            font-size: 3.2rem;
            font-family: 'Lobster', cursive;
            margin-left: 1.5rem;
            text-shadow: 1px 3px rgba($black, 0.2);
        }

        &__software-engineer {
            grid-area: job;
            letter-spacing: .37rem;
            justify-self: left;
            font-size: 2rem;
            font-family: 'Quantico', sans-serif;
            margin-left: 1.5rem;
            text-shadow: 1px 3px rgba($black, 0.2);
        }

        &__menu {
            &--desktop {
                grid-area: links;
                justify-self: right;
                align-self: center;
                margin-right: 1rem; 
            }
            
            a:link,
            a:visited {
                text-decoration: none;
                color: $white; 
            }

            &--icon {
                display: none;
            }

            &--hidden-before {
                display: none;
            }

            &--hidden-after {
                display: none;
            }
            
            &--visible {
                display: none;
            }

            &--pages {
                @include menuLinksDesktop;
            }
        }
    }
}

//Portrait and landscape iPad Pro
// @media only screen 
//   and (min-device-width: 1024px) 
//   and (max-device-width: 1366px) 
//   and (-webkit-min-device-pixel-ratio: 2) {
//     .header {
//         position: relative;
//     }
    
//     .navbar {
//         display: grid;
//         grid-template-areas: 
//         "name links"
//         "job links";
//         align-items: center;
//         background-color: #a29bfe; 
//         border-bottom: .2rem solid $white;
//         position: relative;
//         padding: 1rem 0;
        
//         a:link,
//         a:visited {
//             text-decoration: none;
//             color: $white;
//         }

//         &__david-tenenbaum {
//             grid-area: name;
//             justify-self: left;
//             font-size: 3.2rem;
//             font-family: 'Lobster', cursive;
//             margin-left: 1.5rem;
//             text-shadow: 1px 3px rgba($black, 0.2);
//         }

//         &__software-engineer {
//             grid-area: job;
//             letter-spacing: .37rem;
//             justify-self: left;
//             font-size: 2rem;
//             font-family: 'Quantico', sans-serif;
//             margin-left: 1.5rem;
//             text-shadow: 1px 3px rgba($black, 0.2);
//         }

//         &__menu {
//             &--desktop {
//                 grid-area: links;
//                 justify-self: right;
//                 align-self: center;
//                 margin-right: 1rem; 
//             }
            
//             a:link,
//             a:visited {
//                 text-decoration: none;
//                 color: $white; 
//             }

//             &--icon {
//                 display: none;
//             }

//             &--hidden-before {
//                 display: none;
//             }

//             &--hidden-after {
//                 display: none;
//             }
            
//             &--visible {
//                 display: none;
//             }

//             &--pages {
//                 @include menuLinksDesktop;
//             }
//         }
//     } 
// }