.btn {
    text-decoration: none;
    // padding: .2rem 1rem;
    // background-color: $;
    color: #2d3436;
    // border-radius: 100px;
    border-bottom: 1px solid #2d3436;
}

.btn-github {
    color: #2d3436;
    text-decoration: none;
    margin-right: 1rem;
    padding: .7rem 1.7rem;
    border: 1px solid #2d3436;
    box-shadow: .5rem .5rem .5rem rgba($black, .2);
    font-size: 1.6rem;
    font-family: 'Quantico', sans-serif;
}