.btn {
    text-decoration: none;
    color: $header;
    border-bottom: 1px solid $header;
}

.btn-github {
    color: #a29bfe;
    text-decoration: none;
    margin-right: 1rem;
    padding: .7rem 1.7rem;
    border: 1px solid $header-text;
    box-shadow: .5rem .5rem .5rem rgba($black, .2);
    font-size: 1.6rem;
    font-family: 'Quantico', sans-serif;
}