@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
    .about {
        padding: 1rem 2rem;
        height: auto;
        font-size: 1.6rem;
        font-family: 'Quantico', sans-serif;
        color: #1a3e59;
        background-image: 
            linear-gradient(to right top, 
                    rgba($white, .7), 
                    rgba($white, .7)),
                url('/img/david-tenenbaum-about.jpg');
        background-size: cover;
        background-position: center;
        animation: fadeIn 2s ease-in;

        &__employment {
            margin-bottom: 2rem;
        }

        &__skills {
            margin-bottom: 2rem;
        }

        &__education {
            margin-bottom: 1rem;
            &--school {
                padding: .5rem 0;
                // box-shadow: 0 1rem 1.5rem rgba($black, .15);
            }
        }
    
        li {
            list-style: none;
            margin: .5rem auto;

            i {
                margin-right: 1rem;
                color: #1a3e59;
                font-size: 2.5rem;
            }
        }
    }
}