@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
    .portfolio {
        &-item {
            display: flex;
            flex-direction: column;
            color: #2d3436;
            background-color: $white; 
            padding: 1rem 0;
            
            &:not(:last-child) {
                border-bottom: 1px solid #0984e3;       
            }

            &__title {
                color: #ff7675;
                font-size: 3rem;
                font-family: 'Leckerli One', cursive;
                text-shadow: .5rem .5rem .5rem rgba($black, .2);
                margin-left: 2rem;
                margin-top: .7rem;
                margin-bottom: .5rem;
                padding-bottom: 2rem;
            }

            &__githubLinks {
                margin-left: 2rem;
                margin-right: 2rem;
                margin-bottom: 2rem;
            }

            &__description {
                font-size: 1.6rem;
                font-family: 'Quantico', sans-serif;
                margin: 1rem 2rem 0 2rem;
            }
            

            &__video {
                margin: 2.5rem auto;
                text-align: center;
                iframe {
                    width: 80%;
                    box-shadow: .5rem .5rem 1rem rgba($black, .5);
                }
            }
        }     
    }
}