@keyframes displayMenu {
    0% {
        opacity: 0;
        height: 0vh;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        height: 100vh;
        visibility: visible;
    }
}

@keyframes removeMenu {
    0% {
        opacity: 1;
        height: 100vh;
        visibility: visible;
    }

    100% {
        opacity: 0;
        height: 0vh;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}