@mixin menuLinks {
    a:link,
    a:visited {
        display: block;
        text-decoration: none;
        font-size: 2.5rem;
        font-family: 'Quantico', sans-serif;
        color: #2d3436;
        margin: auto 1rem;
        padding: 2rem 0;
        text-transform: uppercase;
    }
}