@mixin menuLinks {
    a:link,
    a:visited {
        display: block;
        text-decoration: none;
        font-size: 2.5rem;
        font-family: 'Encode Sans', sans-serif;
        color: black;
        margin: auto 1rem;
        padding: 2rem 0;
        // border-bottom: .1rem solid black;    
    }
}