// COLORS
$white: #FFF;
$black: #000;
//HEADER
$header: #010038;
$header-text: #f39422;
//FOOTER
$footer: #010038;
$footer-text: #f39422;
//ABOUT PAGE
$about-text: #000;
$about-icon: #0073e5;
//PORTFOLIO PAGE
$portfolio-text: #000;
$portfolio-title: #000;


